{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "chrome": "58",
          "ie": "11"
        }
      }
    ],
    "@babel/typescript"
  ],
  "plugins": [
    "@babel/transform-typescript",
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ]
}